board==1.0
Crypto==1.4.1
Adafruit-Blinka==5.8.0
adafruit-circuitpython-busdevice==5.0.1
adafruit-circuitpython-framebuf==1.4.3
adafruit-circuitpython-rfm9x==2.0.4
adafruit-circuitpython-ssd1306==2.9.2
Adafruit-PlatformDetect==2.22.1
Adafruit-PureIO==1.1.7
asn1crypto==1.4.0
certifi==2020.11.8
chardet==3.0.4
colorzero==1.1
cryptography==3.3.2
entrypoints==0.3
gpiozero==1.5.1
grpcio-reflection==1.33.2
grpcio==1.33.2
grpcio-tools==1.33.2
idna==2.10
keyring==21.5.0
keyrings.alt==4.0.1
olefile==0.46
Pillow==8.2.0
protobuf==3.18.3
pyftdi==0.52.0
PyGObject==3.38.0
pyserial==3.5
python-apt==0.7.8
pyusb==1.1.0
pyxdg==0.27
requests==2.25.0
rpi-ws281x==4.2.5
RPi.GPIO==0.7.0
SecretStorage==3.3.0
six==1.15.0
spidev==3.5
ssh-import-id==5.10
sysv-ipc==1.0.1
urllib3==1.26.5